.main-container .main-body {
    display: flex;
    width: 100%;
}

.main-container .main-body .inner-body {
    padding: 1em;
}

.main-container .main-body .left-body {
    width: 20%;
}

.main-container .main-body .center-body {
    width: 60%;
}

.main-container .main-body .right-body {
    width: 20%;
}
