@{
    ViewData["Title"] = "Home Page";
}

<div class='main-container'>
    <div class='main-header' style='display: flex; justify-content: space-between; padding: .5em;'>
        <div style='display: flex;'>
            <div style='padding-right: 1em;'>
                検索用：
                <input id='search-word' type='text' />
                <button id='exec-search' type='button'>検索実行</button>
            </div>
            <button id='add-book' type='button'>書籍の追加</button>
        </div>
        <div>
            <button id='env-init' type='button'>環境の初期化</button>
        </div>
    </div>
    <div class='main-body' style='padding-top: 10px;'>
        <table class='table'>
            <thead>
                <tr>
                    <th>
                        タイトル
                    </th>
                    <th>
                        説明
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
    <script>
        $(function(){
            var instance = new Books($(".main-container"));
            instance.render();
        });
    </script>
}
